<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Inquiry Received - Dhaka Plastic & Metal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body
    style="
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    "
  >
    <!-- Outer table for centering -->
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      bgcolor="#f5f5f5"
    >
      <tr>
        <td align="center">
          <!-- Email container -->
          <table
            width="650"
            border="0"
            cellspacing="0"
            cellpadding="0"
            bgcolor="#ffffff"
            style="margin: 20px auto; padding: 20px; border: 1px solid #ddd"
          >
            <!-- Logo -->
            <tr>
              <td align="center" style="padding: 20px">
                <img
                  src="http://localhost:4000/static/static-images/logo.png"
                  alt="Dhaka Plastic & Metal"
                  width="180"
                />
              </td>
            </tr>

            <!-- Heading -->
            <tr>
              <td
                align="center"
                style="
                  font-size: 20px;
                  font-weight: bold;
                  color: #24a9e2;
                  padding-bottom: 10px;
                "
              >
                Thank You for Your Inquiry!
              </td>
            </tr>

            <!-- Message -->
            <tr>
              <td style="font-size: 16px; color: #333; padding: 10px 20px">
                Dear <b><%= customerName %></b>, <br /><br />
                We have received your inquiry and appreciate your interest in
                Dhaka Plastic & Metal. One of our representatives will review
                your request and get back to you shortly.
              </td>
            </tr>

            <!-- Inquiry Details Box -->
            <tr>
              <td style="padding: 15px 20px">
                <table
                  width="100%"
                  border="0"
                  cellspacing="0"
                  cellpadding="10"
                  bgcolor="#e3f7ff"
                >
                  <tr>
                    <td>
                      <b>Inquiry Details:</b><br />
                      <b>Name:</b> <%= customerName %><br />
                      <b>Email:</b> <%= customerEmail %><br />
                      <b>Phone:</b> <%= customerPhone %><br />
                      <b>Message:</b> <%= customerMessage %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Contact Info -->
            <tr>
              <td style="font-size: 14px; color: #333; padding: 10px 20px">
                If you need urgent assistance, feel free to call us at
                <a
                  href="tel:+8801958253965"
                  style="color: #24a9e2; text-decoration: none"
                  >+8801958253965</a
                >. <br /><br />
                Thank you for choosing Dhaka Plastic & Metal!
              </td>
            </tr>

            <!-- Social Links -->
            <tr>
              <td align="center" style="padding: 15px">
                <a
                  href="https://www.facebook.com/dpmsign/"
                  style="text-decoration: none"
                  ><img
                    src="http://localhost:4000/static/static-images/facebook.png"
                    width="30"
                    alt="Facebook"
                /></a>
                <a
                  href="https://www.instagram.com/dpmsign/"
                  style="text-decoration: none; margin: 0 10px"
                  ><img
                    src="http://localhost:4000/static/static-images/instagram.png"
                    width="30"
                    alt="Instagram"
                /></a>
                <a
                  href="https://www.youtube.com/@dpmsign/"
                  style="text-decoration: none"
                  ><img
                    src="http://localhost:4000/static/static-images/linkedin.png"
                    width="30"
                    alt="LinkedIn"
                /></a>
                <a
                  href="https://www.youtube.com/@dpmsign/"
                  style="text-decoration: none"
                  ><img
                    src="http://localhost:4000/static/static-images/youtube.png"
                    width="30"
                    alt="LinkedIn"
                /></a>
              </td>
            </tr>

            <!-- Footer -->
            <tr>
              <td
                align="center"
                style="font-size: 13px; color: #666; padding: 10px 20px"
              >
                Dhaka Plastic & Metal - Your Premier Destination for 3D Signage,
                Award Plaques & Corporate Gift Solutions.<br />
                Shop-94,142, Dhaka University Market, Katabon Road, Dhaka-1000
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
